.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: flex-end;

    &:hover{
        color: yellow;
    }
}

.navbar-brand{
    font-size: 2em;
}
span{
    text-align: center;
}
.logo{
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}
@media screen and (max-width: 600px) {
    .logo{
       
        display: none;
    }
  }