@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

#ttl{
    font-family: 'Berkshire Swash', cursive;


}
@media screen and (max-width: 400px) {
.locandina{
    display: none;
}
#heading{
    font-size: 4vh;
    
}
}